<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Material UI fonts and font icons
    link(rel="stylesheet", href="/assets/roboto.css")
    link(rel="stylesheet", href="/assets/icons.css")

    //- Link manifest.json
    link(rel="manifest", href="/manifest.json")

    title Document
  body
    div#root